/* main.css veya global style dosyan */
html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 2,7rem;
  background-color: white;
}

.form-card {
  top: 5px;
  width: 100%;
  max-width: 1150px;
  padding: 1rem;
}

.form {
  height: 100vh;
}

.islemler {
  display: flex;
  gap: 5px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.filter-select {
  width: 250px;
}

.header-title {
  font-weight: bold;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .islemler {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
  .islemler .el-button {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
}